a#zadatak1 ol.prva {
 font-family: Calibri;
 font-size: 20 px;
 font-weight: bold;
 text-transform: uppercase;
color: white;
	}


 #zadatak1 ol.prva li {
    display: inline;
    background-color: darkgray;

 margin-left: 3px;
 margin-top: 10px;
 padding: 0 20px;
	 

}

#zadatak1 .druga {
    font-family: Calibri;
    font-size: 20 px;
    color: gray;
    margin-left: 25px;

     list-style-type: upper-alpha;

     border-top: 1px solid black;
     padding-top: 25px;
}

#zadatak1 .druga em {

    color: aqua;
    font: bold italic 26px/1em "Brush Script MT";
}
	
	#zadatak2 h1, #zadatak2 ul {
		font-family: 'Pacifico', cursive;
		color: forestgreen;
		 border-top: 1px solid black;
     padding-top: 25px;
	}
	
	#zadatak2 > ul {
		border-top: 1px #000000;
		border-bottom: 1px #000000;
		
		width:  500px;
		padding: 20px 0;
		margin-left: 25px;
		
		list-style-type: none;
	}

#zadatak2 ul ul {
	
	font-family: 'Permanent Marker', cursive;
	color: red;
}




